:root {
    /*Primarios*/
    --Pink: hsl(322, 100%, 66%);
    /*Neutrales*/
    --Blanco-azulado: hsl(193, 100%, 96%);
    --Negro-azulado: hsl(192, 100%, 9%);
    --Gris-azulado: hsl(208, 11%, 55%);
    --Blanco-96: hsl(0, 0%, 96%);
    --Negro-4: hsl(0, 0%, 4%);
}
/*
## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 18px;
    background-image: url(img/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-color: rgb(235, 249, 255);
    text-align: center;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--Negro-azulado);
}
p, a, button {
    font-family: 'Open Sans', sans-serif;
}
/* ---- Header ---- */
header {
    display: flex;
    justify-content: space-between;
}
header img {
    width: auto;
    height: 15px;
    margin: 25px 0 0 20px;
}
header button {
    width: 110px;
    height: 25px;
    background-color: var(--Blanco-96);
    border: 0px;
    border-radius: 20px;
    box-shadow: -2px 2px 10px 2px rgb(219, 219, 219);
    font-weight: bolder;
    font-size: 12px;
    margin: 25px 20px 0 0;
}
/* ---- Main ---- */
main {
    height: 2500px;
}
/*    ---- Cabecera ---- */
.cabecera {
    margin: 80px 20px 0 20px;
}
.cabecera-texto p {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 28px ;
    width: 340px;
    margin: 28px auto auto auto;
}
.cabecera button {
    margin-top: 46px;
    color: var(--Blanco-96);
    background-color: var(--Pink);
    border: none;
    border-radius: 20px;
    width: 260px;
    height: 40px;
    box-shadow: 2px 2px 10px 2px rgb(216, 216, 216) ;
}
.cabecera img {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
}
/*     ---- Tarjetas ---- */
.tarjetas {
    background-color: #FFF;
    margin: 0;
    padding-top: 40px;
    height: 2500px;
}
.tarjetas-info {
    width: 335px;
    height: auto;
    margin: 25px auto 45px auto;
    border-radius: 14px;
    box-shadow: 0px 0px 20px 2px rgb(228, 228, 228);
    padding: 60px 0 60px 0;
}
.tarjetas-info img {
    width: 80%;
    height: 80%;
    margin-bottom: 40px;
}
.tarjetas-info h2 {
    font-size: 22px;
    margin-bottom: 20px;
}
.tarjetas-uno p {
    width: 300px;
}
.tarjetas-dos p {
    width: 270px;
}
.tarjetas-tres p {
    width: 260px;
   
}
.tarjetas-tres {
    margin-bottom: 0;
}
.tarjetas-info p {
    color: var(--Gris-azulado);
    margin: 0 auto 0 auto;
    font-size: 15px;
}
/* ---- Tarjeta Call To action ---- */
.call-to-action_container {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 160px;
    background-color: #fff;
    box-shadow: 2px 2px 10px 2px rgba(153, 153, 153, 0.507);
    border-radius: 10px;
}
.call-to-action_container h3 {
    font-size: 17px;
    margin: 40px auto 20px auto;
}
.call-to-action_container button {
    width: 200px;
    height: 35px;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    background-color: var(--Pink);
    color: var(--Blanco-96);
    box-shadow: 0px 2px 10px 2px rgb(196, 196, 196);
}
/* ---- Footer ---- */
footer {
    background-color: var(--Negro-azulado);
    position: relative;
}
.container-gral {
    padding-top: 160px;
    flex-direction: initial;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 10px 20px 18px;
}
.logo-bottom {
    width: 160px;
    height: auto;
}
.logo-datos {
    margin-top: 30px;
}
.logo-datos p {
    margin: 0 0 0px 15px;
    text-align: left;
    font-weight: lighter;
    font-size: 17px;
}
.logo-datos_direccion, .logo-datos_telefono, .logo-datos_email {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-bottom: 30px;
}
.logo-datos div img {
    width: 20px;
    height: 20px;
}
.links {
    text-align: left;
    margin-left: 15px;
}
.links ul li {
    list-style: none;
    margin-bottom: 18px;
}
.links ul li a {
    color: #fff;
    text-decoration: none;
}
.redes {
    margin: 80px 0 20px 0;
}
.redes i {
    color: #fff;
    margin-left: 20px;
}
.copy {
    color: #fff;
    font-size: 12px;
    height: 60px;
}

/* =-=-=-=- Queries =-=-=-=- */

@media (min-width: 900px) {
    body {
        background-image: url(img/bg-hero-desktop.svg);
    }
    /* ---- Header ---- */
    header {
        display: flex;
        justify-content: space-between;
    }
    header img {
        width: auto;
        height: 35px;
        margin: 45px 0 0 40px;
    }
    header button {
        width: 200px;
        height: 45px;
        background-color: #fff;
        font-weight: bolder;
        font-size: 16px;
        margin: 45px 40px 0 0;
    }
    /* ---- Main ---- */
    main {
        height: 2190px;
    }
    /*    ---- Cabecera ---- */
    .cabecera {
        margin: 80px 20px 0 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .cabecera-texto {
        width: 500px;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .cabecera-texto h1 {
        font-size: 40px;
        width: 500px;
        text-align: left;
    }
    .cabecera-texto p {
        font-size: 16px;
        text-align: left;
        margin-top: 28px ;
        width: 460px;
        margin: 28px auto auto auto;
    }
    .cabecera button {
        border-radius: 30px;
        width: 260px;
        height: 50px;
    }
    .cabecera img {
        width: 85%;
    }
/*     ---- Tarjetas ---- */
    .tarjetas {
        background-color: #FFF;
        padding-top: 60px;
        height: 1600px;
    }
    .tarjetas-info {
        width: 1100px;
        display: flex;
    }
    .tarjetas-textos-int {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tarjetas-textos-int p, .tarjetas-textos-int h2 {
        text-align: left;
        width: 430px;
    }
    .tarjetas-info img {
        width: 60%;
        height: auto;
    }
    .tarjetas-info h2 {
        font-size: 24px;
    }
    .tarjetas-info p {
        color: var(--Gris-azulado);
        font-size: 16px;
    }
    .tarjetas-uno {
        flex-direction: row-reverse;
    }
    .tarjetas-uno .tarjetas-textos-int {
        margin: 0 0 0 110px;
    }
    .tarjetas-dos {
        flex-direction: row;
    }
    .tarjetas-dos .tarjetas-textos-int p {
        width: 442px;
    }
    .tarjetas-dos p, .tarjetas-dos h2 {
        margin-right: 34px;
    }
    .tarjetas-tres {
        flex-direction: row-reverse;
    }
    .tarjetas-tres .tarjetas-textos-int {
        margin-left: 110px;
    }
/*    ---- Tarjeta Call To action ---- */
    .call-to-action_container {
        top: -140px;
        width: 700px;
        height: 240px;
    }
    .call-to-action_container h3 {
        font-size: 28px;
        margin: 60px auto 20px auto;
    }
    .call-to-action_container button {
        width: 330px;
        height: 65px;
        border-radius: 40px;
        border: none;
        font-size: 18px;
        font-weight: bolder;
    }
    /* ---- Footer ---- */
    footer {
        position: relative;
    }
    .container-gral {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        display: flex;
        justify-content: left;
        margin: 0 10px 20px 100px;
    }
    .logo-bottom {
        width: 220px;
        height: auto;
    }
    .logo-datos {
        margin-top: 30px;
    }
    .logo-datos_direccion, .logo-datos_telefono, .logo-datos_email {
        display: flex;
        flex-direction: row;
        width: 400px;
    }
    .logo-datos div img {
        width: 18px;
        height: 18px;
    }
    .links {
        text-align: left;
        display: flex;
        width: 300px;
        margin: 0;
        margin-top: -20px;
    }
    .links ul {
        width: 300px;
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: 50px;
    }
    .links ul li {
        width: 150px;
        height: 30px;
    }
    .elements-right-bottom {
        display: flex;
        flex-direction: column;
        height: 240px;
        margin: 100px 60px 0 0;
    }
    .redes {
        margin: 0px 0 140px 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .redes i {
        margin-left: 10px;
    }
    .copy {
        font-size: 12px;
        height: 60px;
    }
}